/* TODO: Adjust the size of columns */
.schedule {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #253c3c;
    color: #ffffff;
}

.schedule thead th {
    font-size: large;
    text-wrap: wrap;
    height: 60px;
}

.schedule th, .schedule td {
    padding: 10px;
    border: 1px solid #ffffff;
    text-align: left;
}

.schedule th {
    background-color: #253c3c;
    color: #ffffff;
}

.schedule tr:nth-child(odd) {
    background-color: #ffffff;
    color: #253c3c;
}