/* TODO: Adjust the size of columns */
.tasks {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #253c3c;
    color: #ffffff;
}

.tasks thead th {
    font-size: large;
    text-wrap: wrap;
    height: 60px;
}

.tasks th, .tasks td {
    padding: 10px;
    border: 1px solid #ffffff;
    text-align: left;
}

.tasks th {
    background-color: #253c3c;
    color: #ffffff;
}

.tasks tr:nth-child(odd) {
    background-color: #ffffff;
    color: #253c3c;
}