/* TODO: Adjust the size of columns */
.schedule {
  height: 100%;
  width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #253c3c;
  color: #ffffff;
}

.schedule thead th:nth-child(0) {
  width: 2rem;
}

.schedule thead th {
  font-size: large;
  text-wrap: wrap;
  height: 1.5rem;
}

.schedule thead .clickable {
  cursor: pointer;
}

.schedule thead .clickable:hover,
.schedule thead .clickable:focus {
  background-color: #147b73;
  text-decoration: underline;
  font-weight: 600;
}

.schedule th,
.schedule td {
  padding: 10px;
  border: 1px solid #ffffff;
  text-align: left;
}

.schedule th {
  background-color: #253c3c;
  color: #ffffff;
}

.schedule tr {
  transition: all 0.5s ease-out;
  /* transition: opacity 0.5s ease-out, height 0.5s ease-out; */
  overflow: hidden;
}

.schedule tr.collapsed {
  opacity: 0 !important;
  height: 0 !important;
  overflow: hidden;
}

/* .schedule tr:nth-child(odd) {
  background-color: #ffffff;
  color: #253c3c;
} */

.sort-arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #fff; /* Change color as needed */
  margin-left: 10px;
  vertical-align: middle;
}

.delete-icon {
  font-size: 1.8rem;
}
